<app-header></app-header>
<!-- Banner Starts Here -->
<div class="slider-container">
  <div class="slider" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'">
    <div class="slide " *ngFor="let slide of slides; let i = index;">
      <img [src]="slide.image" [alt]="'Imagen ' + (i + 1)" class="responsive-image">
      <div class="slide-content">
        <h6>{{ slide.textTop }}</h6>
        <h4 [innerHTML]="slide.textMain"></h4>
        <p>{{ slide.textBottom }}</p>
        <a [href]="slide.link" class="filled-button">{{ slide.buttonText }}</a>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="PrevArrow" (click)="prevSlide()" [disabled]="currentSlideIndex === 0"><i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="NextArrow" (click)="nextSlide()" [disabled]="currentSlideIndex === slides.length - 1"><i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Request a call back right now ?</h4>
        <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
      </div>
      <div class="col-md-4">
        <a href="contact.html" class="border-button">Contact Us</a>
      </div>
    </div>
  </div>
</div>